body {
    background-color: rgb(219, 29, 61);
    color: white;
}

section{
    background: rgb(0, 0, 128);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}  
img {
    height: 200px;
}

.rapgeek1{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}